In [ ]:
import psycopg2

In [1]:
%load_ext sql

In [4]:
%sql postgresql://postgres:mysecretpassword@localhost:5432/oficial_db

In [7]:
%%sql
SELECT * FROM "oficial_db"."my_schema"."my_table";

 * postgresql://postgres:***@localhost:5432/oficial_db
6 rows affected.

[('alehandro', Decimal('15.20')),
 ('1', Decimal('2.00')),
 ('val1', None),
 ('val2', None),
 ('aaaa', Decimal('1.00')),
 ('gfdgdfgdf', Decimal('2.00'))]