In [ ]:
import psycopg2

In [1]:
%load_ext sql

In [4]:
%sql postgresql://postgres:mysecretpassword@localhost:5432/oficial_db

In [7]:
%%sql
SELECT * FROM "oficial_db"."my_schema"."my_table";

 * postgresql://postgres:***@localhost:5432/oficial_db
6 rows affected.

[('alehandro', Decimal('15.20')),
 ('1', Decimal('2.00')),
 ('val1', None),
 ('val2', None),
 ('aaaa', Decimal('1.00')),
 ('gfdgdfgdf', Decimal('2.00'))]

In [13]:
# Conectando ao primeiro banco
result1 = %sql postgresql://postgres:mysecretpassword@localhost:5432/oficial_db SELECT * FROM "oficial_db"."my_schema"."my_table";

# Exibindo resultados
print(result1)
type(result1)

6 rows affected.
+-----------+-------+
|    col1   |  col2 |
+-----------+-------+
| alehandro | 15.20 |
|     1     |  2.00 |
|    val1   |  None |
|    val2   |  None |
|    aaaa   |  1.00 |
| gfdgdfgdf |  2.00 |
+-----------+-------+

sql.run.ResultSet

In [14]:
import polars as pl

# Convertendo result1 para um dataframe do Polars
df_polars = pl.DataFrame(result1)
print(df_polars)

shape: (6, 2)
┌───────────┬──────────────┐
│ col1      ┆ col2         │
│ ---       ┆ ---          │
│ str       ┆ decimal[*,2] │
╞═══════════╪══════════════╡
│ alehandro ┆ 15.20        │
│ 1         ┆ 2.00         │
│ val1      ┆ null         │
│ val2      ┆ null         │
│ aaaa      ┆ 1.00         │
│ gfdgdfgdf ┆ 2.00         │
└───────────┴──────────────┘