In [2]:
# import libs
import kaggle
import polars as pl
import duckdb

In [3]:
# download dataset
dataset = 'anandshaw2001/netflix-movies-and-tv-shows'
path = f'C:/Users/pedro/Documents/Kaggle/{dataset}'
file = 'netflix_titles.csv'
kaggle.api.dataset_download_files(
    dataset, 
    path=path,
    unzip=True)

Dataset URL: https://www.kaggle.com/datasets/anandshaw2001/netflix-movies-and-tv-shows

# Polars

In [4]:
# load to polars abordagem eager
df = pl.read_csv(
    f'{path}/{file}'
)

# load to polars abordagem lazy
df_lazy = pl.scan_csv(
    f'{path}/{file}'
)

In [5]:
# simple manipulation (df / eager)
df2 = df \
    .group_by('type') \
    .agg(pl.len().alias('count'))
df2

shape: (2, 2)
┌─────────┬───────┐
│ type    ┆ count │
│ ---     ┆ ---   │
│ str     ┆ u32   │
╞═════════╪═══════╡
│ Movie   ┆ 6131  │
│ TV Show ┆ 2676  │
└─────────┴───────┘

In [6]:
# simple manipulation (sql / lazy)
df3 = df_lazy.sql(
    'select type, count(*) from self group by type'
)
df3.collect()

shape: (2, 2)
┌─────────┬──────┐
│ type    ┆ len  │
│ ---     ┆ ---  │
│ str     ┆ u32  │
╞═════════╪══════╡
│ Movie   ┆ 6131 │
│ TV Show ┆ 2676 │
└─────────┴──────┘

# DuckDB

In [ ]:
duck.sql(select)

In [7]:
x = duckdb.read_csv(f'{path}/*.csv')
type(x)

duckdb.duckdb.DuckDBPyRelation

In [17]:
y = duckdb.sql("""
    select type, count(*) from x group by all
""")
y.create_view('test_view')
duckdb.sql("""
           select
    select * from test_view
    union
    
""")

┌─────────┬──────────────┐
│  type   │ count_star() │
│ varchar │    int64     │
├─────────┼──────────────┤
│ Movie   │        12262 │
│ TV Show │         5352 │
└─────────┴──────────────┘

In [22]:
y.pl()

shape: (2, 2)
┌─────────┬──────────────┐
│ type    ┆ count_star() │
│ ---     ┆ ---          │
│ str     ┆ i64          │
╞═════════╪══════════════╡
│ Movie   ┆ 12262        │
│ TV Show ┆ 5352         │
└─────────┴──────────────┘

In [9]:
# y.to_csv('new_file.csv')

In [10]:
duckdb.sql("select 'hello world!' as machaca")

┌──────────────┐
│   machaca    │
│   varchar    │
├──────────────┤
│ hello world! │
└──────────────┘